<div class="h-full bg-white relative z-40 py-5 w-64 capitalize font-medium text-gray-900">
    <div class="mt-16">
        <div *ngIf="backLabels && backLabels.length > 0" (click)="toPrevMenu()" [@slideInOutAnimation]
            class="cursor-pointer px-5 py-1 mx-2 hover:bg-gray-200 hover:text-gray-700 rounded block mb-2">
            {{ backLabels[0] }}
        </div>
        <div *ngFor="let category of displayData"
            class="cursor-pointer px-8 py-1 mx-2 hover:bg-gray-200 hover:text-gray-700 rounded block mb-2">
            <div *ngIf="category.name" (click)="toSubmenu(category.id)" [@slideInOutAnimation] class="flex justify-between">
                {{ category.name }}
                <span *ngIf="category.subs && category.subs.length > 0" class="text-right font-light"> &nbsp;> </span>
            </div>
        </div>
    </div>
</div>