<div class="h-full bg-white relative z-40 py-5 w-64 capitalize font-medium text-gray-900">
    <div class="mt-10 bg-white">
        <div class="arc-transition divide-y">
            <div class="px-5 py-2 mx-2 rounded block mb-2 arc-transition relative"
                [ngClass]="signLoading ? 'disabled' : 'cursor-pointer hover:bg-gray-200 hover:text-gray-700'"
                *ngIf="!user || user.isAnonymous" (click)="showSignInModal()">
                <div class="absolute h-full w-full bg-white opacity-50" *ngIf="signLoading"></div>
                Sign In
            </div>
            <div *ngIf="user && !user.isAnonymous">
                <div class="px-5 py-2 mx-2 rounded block mb-2 arc-transition">
                    {{ user.name || user.phone || user.email }}
                </div>
                <div class="cursor-pointer px-5 py-2 mx-2 mt-2 hover:bg-gray-200 hover:text-gray-700 rounded block mb-2 arc-transition"
                    (click)="navigateToOrders()">
                    <div class="flex justify-between">
                        <fa-icon [icon]="faListAlt" size="s" class="w-1/12"></fa-icon>
                        <span class="w-10/12">My Orders</span>
                    </div>
                </div>
            </div>
            <div class="arc-transition">
                <div *ngIf="backLabels && backLabels.length > 0" (click)="toPrevMenu()"
                    class="cursor-pointer px-5 py-2 mx-2 hover:bg-gray-200 hover:text-gray-700 rounded block my-2 arc-transition">
                    {{ backLabels[0] }}
                </div>
                <div *ngFor="let category of displayCategories"
                    class="cursor-pointer px-8 py-2 mx-2 hover:bg-gray-200 hover:text-gray-700 rounded block my-2 arc-transition"
                    (click)="toSubmenu(category.id)">
                    <div *ngIf="category.name" class="flex justify-between">
                        {{ category.name }}
                        <span *ngIf="category.subCategories && category.subCategories.length > 0"
                            class="text-right font-light">
                            &nbsp;> </span>
                    </div>
                </div>
            </div>
            <div class="arc-transition">
                <div *ngFor="let collection of collections" (click)="filterProductsByCollection(collection.id)"
                    class="cursor-pointer px-8 py-2 mx-2 hover:bg-gray-200 hover:text-gray-700 rounded block my-2 arc-transition">
                    {{ collection.name }}
                </div>
            </div>
            <div>
                <div class="px-5 py-2 mx-2 rounded block arc-transition relative my-2"
                    [ngClass]="signLoading ? 'disabled' : 'cursor-pointer hover:bg-gray-200 hover:text-gray-700'"
                    (click)="signOut()" *ngIf="user && !user.isAnonymous">
                    <div class="absolute h-full w-full bg-white opacity-50" *ngIf="signLoading"></div>
                    <div class="flex justify-between">
                        <fa-icon [icon]="faSignOutAlt" size="s" class="w-1/12"></fa-icon>
                        <span class="w-10/12">Sign Out</span>
                    </div>
                </div>
                <div class="py-3"></div>
            </div>
        </div>
    </div>
</div>