<app-tab
    [labels]="['Categories ' + '(' + categories.length + ')', 'Collections ' + '(' + collections.length + ')', 'Products ' + '(' + products.length + ')']"
    [templates]="[categoryTab, collectionTab, productTab]" (openTabChange)="setCatalogData($event)">
</app-tab>

<!-- MODAL -->

<app-catalog-modal-list [(showModal)]="showModal" [loading]="modalLoading" [success]="modalSuccess" 
   [existingIds]="existingIds" [type]="type" (addCatalog)="addCatalog.emit($event)"></app-catalog-modal-list>

<!-- TABS -->

<ng-template #categoryTab>
    <app-card [heading]="'Categories'" [actions]="assign" [body]="catalogTable"></app-card>
</ng-template>

<ng-template #collectionTab>
    <app-card [heading]="'Collections'" [actions]="assign" [body]="catalogTable"></app-card>
</ng-template>

<ng-template #productTab>
    <app-card [heading]="'Products'" [actions]="assign" [body]="catalogTable"></app-card>
</ng-template>

<!-- BUTTON TEMPLATES -->

<ng-template #assign>
    <label class="arc-link-button capitalize" type="button">
        <a (click)="toggleShowModal()">Assign {{ type }}</a>
    </label>
</ng-template>

<!-- TABLE TEMPLATES -->

<ng-template #catalogTable>
    <app-spinner class="data-empty" *ngIf="catalogLoading" [size]="'5'"></app-spinner>
    <div *ngIf="!catalogLoading">
        <div *ngIf="catalogData && (!catalogData.value || catalogData.value.length === 0)" class="data-empty">No data
            available</div>
        <div class="overflow-x-auto scrollbar" *ngIf="catalogData && catalogData.value && catalogData.value.length > 0">
            <table mat-table [dataSource]="catalog">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{ type }} Name</th>
                    <td mat-cell *matCellDef="let row" class="padding-0">
                        <div class="flex flex-wrap relative align-middle" *ngIf="row">
                            <div class="relative w-full px-5 py-3">{{row.name}}</div>
                            <app-spinner class="absolute right-0 mx-4 py-3" *ngIf="removeLoading && catalogDeleteId === row.id" [size]="'5'" [@inOutAnimation]></app-spinner>
                            <div class="absolute right-0 mx-2 py-3" *ngIf="!removeLoading || catalogDeleteId !== row.id" (click)="deleteId(row.id)" [@inOutAnimation]>
                                <fa-icon [icon]="faTrash" class="arc-link-button-secondary"></fa-icon>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="catalogColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: catalogColumns;" class="height-0"></tr>

            </table>
        </div>
    </div>
</ng-template>