<form class="flex flex-col h-screen justify-between" [formGroup]="addSaleForm" (ngSubmit)="onSubmit()">

    <ng-template #sale>
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
            <div class="w-full mb-3">
              <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Name"
                [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #discount>
        <div class="flex items-center ml-4 mb-4 p-1 pt-5">
          <input id="radio1" type="radio" name="radio" class="hidden" checked />
          <label for="radio1" class="flex items-center cursor-pointer">
            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
            Percentage</label>
        </div>
        <div class="flex items-center ml-4 mb-4 p-1">
          <input id="radio2" type="radio" name="radio" class="hidden" />
          <label for="radio2" class="flex items-center cursor-pointer">
            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
            Fixed Amount</label>
        </div>
      </ng-template>

      <ng-template #value>
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
            <div class="w-full mb-3">
              <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Discount value"
                [ngClass]="nameDanger ? 'border-red' : ''" formControlName="value" />
            </div>
          </div>
        </div>
      </ng-template>
      
      <ng-template #summary>

      </ng-template>

      <div class="relative md:pt-32 pt-12">
        <div class="px-4 md:px-10 mx-auto w-full">
          <div class="flex flex-wrap mt-4">
            <div class="w-full xl:w-8/12 xl:mb-0 px-4">
              <app-card [heading]="'General Information'" [body]="sale"></app-card>
              <app-card [heading]="'Discount Type'" [body]="discount"></app-card>
              <app-card [heading]="'Value'" [body]="value"></app-card>
            </div>
            <div class="w-full xl:w-4/12 px-4">
              <app-card [heading]="'Summary'" [body]="summary"></app-card>
            </div>
          </div>
        </div>
      </div>

      <app-footer-form [loading]="loading" [success]="success"></app-footer-form>

</form>
