<div class="flex flex-wrap px-3 md:px-10 md:mt-24 md:justify-between" *ngIf="variants.length > 0">
    <div class="w-full md:w-7/12 mb-5">
        <div class="font-light text-2xl mb-3">
            Shopping Cart
        </div>
        <div class="divide-y divide-gray-200">
            <div class="flex justify-between py-5" *ngFor="let variant of variants">
                <div class="flex">
                    <img class="object-contain" src="{{ getImage(variant.images) }}" alt="{{ variant.productName }}"
                        width="{{imageSize}}" height="{{imageSize}}">
                    <div class="flex flex-col font-light ml-6 ">
                        <div class="mb-auto md:my-auto text-base md:text-xl">
                            {{ variant.productName }} - {{ variant.name }}
                        </div>
                        <app-counter-input [label]="'Quantity'" [value]="variant.quantity">
                        </app-counter-input>
                    </div>
                </div>
                <div class="relative">
                    <fa-icon class="absolute right-0 hover:text-gray-700 cursor-pointer" [icon]="faTimes" size="xs"
                        (click)="removeVariant(variant.id)">
                    </fa-icon>
                    <div class="absolute bottom-0 right-0 font-light">
                        {{variant.price | currency: settings.currency }}
                    </div>
                </div>
            </div>
            <div class="flex pt-5 text-gray-600">
                <app-button class="w-full" [secondary]="true" [label]="'Update Cart'" [color]="'white'"
                    [fullWidth]="true"></app-button>
            </div>
        </div>
    </div>
    <div class="w-full md:w-4/12">
        <div class="font-light text-2xl">
            Cart Totals
        </div>
        <div class="border border-gray-300 rounded-md my-5 p-5 text-sm">
            <div class="font-light cursor-pointer flex justify-between" (click)="toggleCoupon()">
                <div>
                    <fa-icon class="mr-1" [icon]="faTicketAlt" transform="rotate--30"></fa-icon>
                    Apply Coupon
                </div>
                <fa-icon [icon]="faChevronDown"></fa-icon>
            </div>
            <div class="flex flex-col overflow-x-hidden slider" [ngClass]="showCoupon ? '' : 'closed'">
                <input #voucherInput class="arc-input placeholder-gray-400 my-5 mx-1" type="text"
                    placeholder="Coupon Code" />
                <app-button color="gray" [label]="'Apply Coupon'" [dark]="true" [fullWidth]="true"
                    (click)="addVoucher(voucherInput.value)" [loading]="voucherLoading" [success]="voucherSuccess">
                </app-button>
            </div>
        </div>
        <app-cart-total></app-cart-total>
        <app-button color="gray" [label]="'Checkout'" [dark]="true" [fullWidth]="true" (click)="navigateToCheckout()">
        </app-button>
    </div>
</div>
<div *ngIf="variantsLoading || draftLoading"
    class="w-full h-full bg-white opacity-50 z-20 flex items-center justify-center">
    <app-spinner class="-mt-96" [size]="10"></app-spinner>
</div>
<app-empty-page *ngIf="variants.length === 0" [label]="'cart'"></app-empty-page>