<div class="relative border border-gray-300 bg-gray-100 rounded-md my-5 font-light text-sm">
    <div class="absolute w-full h-full bg-gray-100 opacity-50 z-10 flex justify-center items-center" *ngIf="loading">
        <app-spinner [size]="5"></app-spinner>
    </div>
    <div class="relative">
        <div class="border-b border-gray-300 p-5 flex justify-between">
            <div>
                Subtotal
            </div>
            <div *ngIf="draft && settings">
                {{ draft.subTotal | currency: settings && settings.currency }}
            </div>
        </div>
        <div class="border-b border-gray-300 p-5" *ngIf="freeShipping">
            <div class="text-center font-semibold text-green-600">FREE SHIPPING</div>
        </div>
        <div class="border-b border-gray-300 p-5 text-red-600 font-normal text-center" *ngIf="!isDeliverable">
            Order cannot be delivered to your location.
        </div>
        <div class="border-b border-gray-300 p-5"
            *ngIf="((draft && draft.shippingAddress && !disableAddress) || shippingRates.length > 0) && !freeShipping && isDeliverable">
            Shipping
            <div class="flex flex-col my-auto pt-3" *ngIf="shippingRates && shippingRates.length > 0">
                <div class="flex" *ngFor="let shippingRate of shippingRates; trackBy: trackByFn">
                    <input #shippingRateRadio type="radio" name="shippingRate" class="my-auto"
                        value="{{shippingRate.id}}" [checked]="selectedShippingRateId === shippingRate.id" (change)="setShippingRate(shippingRateRadio.value)" />
                    <div class="ml-2 flex flex-1 justify-between">
                        <label for=""> {{shippingRate.name}} </label>
                        <label for=""> {{shippingRate.price | currency: settings && settings.currency }} </label>
                    </div>
                </div>
            </div>
            <div class="my-3" *ngIf="draft && draft.shippingAddress && !disableAddress">
                <fa-icon class="mr-2" [icon]="faMapMarkerAlt"></fa-icon> Shipping to
                <span class="font-normal">
                    {{ draft.shippingAddress.line1 }}, {{ draft.shippingAddress.area }}
                </span>
            </div>
            <div class="flex cursor-pointer font-normal" (click)="navigateToCheckout()"
                *ngIf="draft && draft.shippingAddress && !disableAddress">
                Change Address
            </div>
        </div>
        <div class="border-b border-gray-300 p-5" *ngIf="settings && settings && settings.cod">
            <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" class="form-checkbox text-gray-800 ml-1 w-5 h-5"
                    style="transition: all 0.15s ease 0s;" [(ngModel)]="cod" (change)="toggleCod()" />
                <span class="ml-2">
                    Cash on Delivery
                </span>
            </label>
        </div>
        <div class="border-b border-gray-300 p-5"
            *ngIf="draft && (draft.saleDiscount > 0 || draft.voucherDiscount > 0 || draft.taxCharge > 0 || draft.shippingCharge > 0)">
            <div class="flex justify-between" *ngIf="draft.saleDiscount > 0">
                <div>
                    Discount
                </div>
                <div *ngIf="settings">
                    -{{ draft.saleDiscount | currency: settings && settings.currency }}
                </div>
            </div>
            <div class="flex justify-between" *ngIf="draft.taxCharge > 0">
                <div>
                    Taxes
                </div>
                <div *ngIf="settings">
                    +{{ draft.taxCharge | currency: settings && settings.currency }}
                </div>
            </div>
            <div class="flex justify-between" *ngIf="draft.shippingCharge > 0">
                <div>
                    Shipping
                </div>
                <div *ngIf="settings">
                    +{{ draft.shippingCharge | currency: settings && settings.currency }}
                </div>
            </div>
            <div class="flex justify-between" *ngIf="draft.voucherDiscount > 0">
                <div>
                    Voucher
                </div>
                <div *ngIf="settings">
                    -{{ draft.voucherDiscount | currency: settings && settings.currency }}
                </div>
            </div>
        </div>
        <div class="p-4 flex justify-between text-xl">
            <div>
                Total
            </div>
            <div *ngIf="draft && settings">
                {{ draft.total | currency: settings && settings.currency }}
            </div>
        </div>
    </div>
</div>