
<ng-template #productType>
    <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
          <div class="w-full mb-3">
            <ng-select formControlName="productType" placeholder="size"></ng-select>
          </div>
        </div>
    </div>
 </ng-template>

 <ng-template #productPrice>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-half mb-3">
          <input type="number" class="arc-input placeholder-gray-400 w-half" placeholder="selling price override">
        </div>
        <input type="number" class="arc-input placeholder-gray-400 w-half" placeholder="cost price override">
      </div>
    </div>
  </ng-template>

  <div class="relative md:pt-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap mt-4">
        <div class="w-full xl:w-8/12 xl:mb-0 px-4">
   <app-card [heading]="'General Information'" [body]="productType"></app-card>
   <app-card [heading]="'Pricing'" [body]="productPrice"></app-card>
        </div>
      </div>
    </div>
  </div>
  