<form class="flex flex-col h-screen justify-between" [formGroup]="addVariantForm" (ngSubmit)="onSubmit()">

  <ng-template #variantType>

    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-half mb-3">
          <ng-select formControlName="variantType" placeholder="size" [ngClass]="sizeDanger ? 'border-red' : ''"
            formControlName="size"></ng-select>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #variantPrice>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-half mb-3">
          <input type="number" class="arc-input placeholder-gray-400 w-half" placeholder="Selling price"
            [ngClass]="priceDanger ? 'border-green' : ''" formControlName="price">
        </div>
        <input type="number" class="arc-input placeholder-gray-400 w-half" placeholder="Strike price override"
          [ngClass]="priceDanger ? 'border-green' : ''" formControlName="price">
      </div>
    </div>
  </ng-template>

  <ng-template #inventory>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="SKU(stock keeping unit)"
            [ngClass]="nameDanger ? 'border-red' : ''" formControlName="inventory" />
        </div>
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" class="form-checkbox arc-checkbox" />
          <span class="ml-2 text-sm font-semibold text-gray-700">Track Inventory</span>
        </label>
        <div>

        </div>
      </div>
    </div>
  </ng-template>

  <div class="relative md:pt-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap mt-4">
        <div class="w-full xl:w-8/12 xl:mb-0 px-4">
          <app-card [heading]="'General Information'" [body]="variantType"></app-card>
          <app-card [heading]="'Pricing'" [body]="variantPrice"></app-card>
          <app-card [heading]="'Inventory'" [body]="inventory"></app-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer-form
  [loading]="loading"
  [success]="success"
  [showDelete]="edit"
  [loadingDelete]="loadingDelete"
  [successDelete]="successDelete"
  (deleteCallback)="deleteVariant()"
></app-footer-form>
</form>