<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div
        class="relative w-auto my-6 mx-auto {{ size === 'large' ? 'max-w-6xl' : size === 'medium' ? 'max-w-3xl' : 'max-w-sm' }}">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
                <h2 class="text-2xl font-semibold text-gray-800">
                    {{heading}}
                </h2>
                <button
                    class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="toggleModal()">
                    <span
                        class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                        ×
                    </span>
                </button>
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto">
                <p class="my-4 text-gray-600 text-lg leading-relaxed">
                    <ng-container [ngTemplateOutlet]="bodyTemplate"></ng-container>
                </p>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
                <button class="arc-button-secondary text-gray-500" type="button" (click)="toggleModal()">
                    Close
                </button>
                <app-button [loading]="loading" [success]="success" [color]="'blue'" [label]="'Save'" [submit]="true">
                </app-button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>