<form class="flex flex-col h-screen justify-between" [formGroup]="addVoucherForm" (ngSubmit)="onSubmit()">

    <ng-template #sale>
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
            <div class="w-full mb-3">
              <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Name"
                [ngClass]="nameDanger ? 'border-red' : ''" formControlName="code" />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #discount>
        <div class="flex items-center ml-4 mb-4 p-1 pt-5">
          <input id="radio1" type="radio" name="discountType" value="fixed" class="hidden" formControlName="discountType" checked />
          <label for="radio1" class="flex items-center cursor-pointer">
            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
            Fixed Amount</label>
        </div>
        <div class="flex items-center ml-4 mb-4 p-1">
          <input id="radio2" type="radio" name="discountType" value="percent" class="hidden" formControlName="discountType" />
          <label for="radio2" class="flex items-center cursor-pointer">
            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
            Percentage</label>
        </div>
        <div class="flex items-center ml-4 mb-4 p-1">
            <input id="radio3" type="radio" name="discountType" value="shipping" class="hidden" formControlName="discountType"/>
            <label for="radio3" class="flex items-center cursor-pointer">
              <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
              Free Shipping</label>
          </div>
      </ng-template>

      <ng-template #value>
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
            <div class="w-full mb-3">
              <input type="number" class="arc-input placeholder-gray-400 w-full" placeholder="Discount value"
                [ngClass]="nameDanger ? 'border-red' : ''" formControlName="value" />
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #minimum>
        <div class="flex items-center ml-4 mb-4 p-1 pt-5">
          <input id="radio4" type="radio" name="radio1" class="hidden" checked />
          <label for="radio4" class="flex items-center cursor-pointer">
            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
            None</label>
        </div>
        <div class="flex items-center ml-4 mb-4 p-1">
          <input id="radio5" type="radio" name="radio1" class="hidden" (click)="toggleorder()" />
          <label for="radio5" class="flex items-center cursor-pointer">
            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
            Minimal order value</label>
        </div>
        <div class="w-full mb-3">
          <input type="number" class="arc-input placeholder-gray-400 w-full" *ngIf="showMeOrder" placeholder="Minimal order value"
            [ngClass]="nameDanger ? 'border-red' : ''" formControlName="minimalOrder"/>
        </div>
        <div class="flex items-center ml-4 mb-4 p-1">
            <input id="radio6" type="radio" name="radio1" class="hidden" (click)="togglequantity()" />
            <label for="radio6" class="flex items-center cursor-pointer">
              <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
              Minimum quantity of items</label>
          </div>
          <div class="w-full mb-3">
            <input type="number" class="arc-input placeholder-gray-400 w-full" *ngIf="showMeQuantity" placeholder="Minimum quantity of items"
              [ngClass]="nameDanger ? 'border-red' : ''" formControlName="minimumQuantity"/>
          </div>
      </ng-template>

      <ng-template #checkbox>
          <div class="flex flex-wrap">
            <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
                  <label class="inline-flex w-full">
                      <input type="checkbox"  class="form-checkbox h-5 w-5 text-blue-400" (click)="togglelimit()"><span 
                      class="ml-2 text-gray-700">Limit number of times this discount can be used in total</span>
                  </label>
                  <div class="w-full mb-3">
                    <input type="number" class="arc-input placeholder-gray-400 w-full" *ngIf="showMe" placeholder="Limit of Uses"
                      [ngClass]="nameDanger ? 'border-red' : ''" formControlName="limit"/>
                  </div>
                <label class="inline-flex w-full">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-400 " formControlName="limitOne"><span 
                    class="ml-2 w-full text-gray-700">Limit to one use per customer</span>
                </label>
                
              </div>
          </div>
      </ng-template>
      
      <ng-template #summary>

      </ng-template>

      <div class="relative pt-12">
        <div class="px-4 md:px-10 mx-auto w-full">
          <div class="flex flex-wrap mt-4 mb-10">
            <div class="w-full xl:w-8/12 xl:mb-0 px-4">
              <app-card [heading]="'General Information'" [body]="sale"></app-card>
              <app-card [heading]="'Discount Type'" [body]="discount"></app-card>
              <app-card [heading]="'Value'" [body]="value"></app-card>
              <app-card [heading]="'Minimum Requirements'" [body]="minimum"></app-card>
              <app-card [heading]="'Usage Limit'" [body]="checkbox"></app-card>
            </div>
            <div class="w-full xl:w-4/12 px-4">
              <app-card *ngIf="edit" [heading]="'Summary'" [body]="summary"></app-card>
            </div>
          </div>
        </div>
      </div>

      <app-footer-form
      [loading]="loading"
      [success]="success"
      [showDelete]="edit"
      [loadingDelete]="loadingDelete"
      [successDelete]="successDelete"
      (deleteCallback)="deleteVoucher()"
    ></app-footer-form>
</form>
