
<form class="flex flex-col h-screen justify-between" [formGroup]="productTypeForm" (ngSubmit)="onSubmit()">

<ng-template #productType>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Name"
            [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #taxes>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <ng-select formControlName="tax" [items]="tax$ | async" bindValue="id" bindLabel="name" placeholder="Tax"></ng-select>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #shipping>

  </ng-template>


  <div class="relative md:pt-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap mt-4">
        <div class="w-full xl:mb-0 px-4">
          <app-card [heading]="'General Information'" [body]="productType"></app-card>
          <app-card [heading]="'Taxes'" [body]="taxes"></app-card>
        </div>
      </div>
    </div>
  </div>
  <app-footer-form
  [loading]="loading"
  [success]="success"
  [showDelete]="edit"
  [loadingDelete]="loadingDelete"
  [successDelete]="successDelete"
  (deleteCallback)="deleteProductType()"
></app-footer-form>

</form>
