<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-base text-gray-800">
          {{heading}}
        </h3>
      </div>
      <div class="relative w-full max-w-full flex-grow flex-1 text-right">
        <ng-container [ngTemplateOutlet]="actions"></ng-container>
      </div>
    </div>
  </div>
  <hr >
  <div class="block relative w-full overflow-x-auto">
    <ng-container [ngTemplateOutlet]="body"></ng-container>
  </div>
</div>