<div class="container flex items-center">
    <div class="w-screen md:w-1/2">
        <lib-ngx-image-zoom
            [thumbImage]="selectedThumbnail"
            [fullImage]="selectedImage"
            [enableLens]="true"
            [circularLens]="true"
        ></lib-ngx-image-zoom>
        <carousel class="pt-3" *ngIf="carouselImages.length > 0" [height]="144" [cellWidth]="144" [arrows]="false">
            <div class="carousel-cell" *ngFor="let img of carouselImages">
                <img src="{{img.url}}" alt="{{img.name}}"/>
                {{'hi'}}
            </div>
        </carousel>
    </div>
</div>
<div class="container flex flex-grow">
    <div class="w-1/2">
    </div>
</div>