<div class="flex flex-wrap px-3 md:px-10 md:mt-24 md:justify-between" *ngIf="variants.length > 0">
    <div class="w-full md:w-7/12 mb-5">
        <div class="font-light text-2xl mb-3">
            Wishlist
        </div>
        <form class="divide-y divide-gray-200" [formGroup]="variantForm">
            <div class="flex justify-between py-5" *ngFor="let variant of variants; trackBy: trackByFn">
                <div class="flex">
                    <img class="object-contain" src="{{ getImage(variant.images) }}" alt="{{ variant.productName }}"
                        width="{{imageSize}}" height="{{imageSize}}">
                    <div class="flex flex-col font-light ml-6 ">
                        <div class="mb-auto md:my-auto text-base md:text-xl">
                            {{ variant.productName }} - {{ variant.name }}
                        </div>
                        <app-counter-input *ngIf="variant.available" [formControl]="variantForm.controls[variant.id]" [label]="'Quantity'" 
                                            [value]="variant.quantity" [valueMin]="1">
                        </app-counter-input>
                        <div *ngIf="!variant.available" class="danger-label">Out of stock</div>
                    </div>
                </div>
                <div class="relative">
                    <fa-icon class="absolute right-0 hover:text-gray-700 cursor-pointer" [icon]="faTimes" size="xs"
                        (click)="removeVariant(variant.id)">
                    </fa-icon>
                    <div class="absolute bottom-0 right-0 font-light">
                        {{variant.price | currency: settings.currency }}
                    </div>
                    <app-button *ngIf="available" color="gray" [label]="'Add to Cart'" [dark]="true" [fullWidth]="true" (click)="navigateToCart()">
                    </app-button>
                </div>
            </div>
        </form>
    </div>
    
</div>
<div *ngIf="variantsLoading || draftLoading"
    class="w-full h-full bg-white opacity-50 z-20 flex items-center justify-center">
    <app-spinner class="-mt-96" [size]="10"></app-spinner>
</div>

<app-empty-page *ngIf="variants.length === 0" [label]="'wishlist'"></app-empty-page>
