<form class="flex flex-col h-screen justify-between" [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <!-- TEMPLATES -->

  <ng-template #productNameDesc>

    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Name"
            [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
        </div>
        <div class="field pt-3">
          <div class="control">
            <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #imageUploadAction>
    <label class="arc-link-button" type="button">
      Upload Image
      <input type='file' class="hidden" (change)="onFileClicked($event)" />
    </label>
  </ng-template>

  <ng-template #imageUpload>
    <app-upload
      [uploadProgress]="uploadProgress"
      [thumbnails]="thumbnails"
      (fileClickedCallback)="onFileClicked($event)"
      (fileDroppedCallback)="onFileDropped($event)"
      (deleteImageCallback)="deleteProductImage($event)"
    ></app-upload>
  </ng-template>

  <ng-template #attributes>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <ng-select placeholder="Value"></ng-select>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #productPrice>

    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" class="form-checkbox text-blue-500" formControlName="tax"/>
          <span class="ml-2 text-sm font-semibold text-gray-700">Charge taxes for this item</span>
        </label>
        <div class="w-full mb-3">
          <input type="number" class="arc-input placeholder-gray-400 w-full" placeholder="Price"
            [ngClass]="priceDanger ? 'border-red' : ''" formControlName="price" />
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #variants>
    <label class="arc-link-button" type="button">
      <a (click)="toAddVariant()">Create Variant</a>
    </label>
  </ng-template>

  <ng-template #organizeProduct>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <ng-select formControlName="productType" [ngClass]="productTypeDanger ? 'border-red' : ''" [items]="productTypes" bindValue="id" bindLabel="name" placeholder="Product Type"></ng-select>
        </div>
        <div class="w-full mb-3">
          <ng-select formControlName="category" [items]="categories" bindValue="id" bindLabel="name" placeholder="Category"></ng-select>
        </div>
        <div class="w-full mb-3">
          <ng-select
            [items]="collections"
            [multiple]="true"
            bindLabel="name"
            [closeOnSelect]="false"
            bindValue="id"
            placeholder="Collections"
            [(ngModel)]="selectedCollections"
            [ngModelOptions]="{standalone: true}" >
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" class="form-checkbox text-blue-500" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}"/> {{item.name}}
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #visibility>
    <div class="flex items-center ml-4 mb-1 p-1">
      <input id="active" type="radio" name="visibility" class="hidden" formControlName="visibility" value="active" />
      <label for="active" class="flex items-center cursor-pointer">
        <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
        Visible</label>
    </div>
    <div class="flex items-center ml-4 mb-1 p-1">
      <input id="inactive" type="radio" name="visibility" class="hidden" formControlName="visibility" value="inactive" />
      <label for="inactive" class="flex items-center cursor-pointer">
        <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
        Hidden</label>
    </div>
  </ng-template>

  <!-- BODY -->

  <div class="relative pt-12 mb-auto h-10">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap mt-4 mb-12">
        <div class="w-full xl:w-8/12 xl:mb-0 px-4">
          <app-card [heading]="'General Information'" [body]="productNameDesc"></app-card>
          <app-card *ngIf="edit" [heading]="'Images'" [actions]="imageUploadAction" [body]="imageUpload"></app-card>
          <app-card *ngIf="productFormControls.productType.value" [heading]="'Attributes'" [body]="attributes"></app-card>
          <app-card [heading]="'Pricing'" [body]="productPrice"></app-card>
          <app-card *ngIf="edit" [heading]="'Variants'" [actions]="variants"></app-card>
        </div>
        <div class="w-full xl:w-4/12 px-4">
          <app-card [heading]="'Organize Product'" [body]="organizeProduct"></app-card>
          <app-card [heading]="'Visibility'" [body]="visibility"></app-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer-form
    [loading]="loading"
    [success]="success"
    [showDelete]="edit"
    [loadingDelete]="loadingDelete"
    [successDelete]="successDelete"
    (deleteCallback)="deleteProduct()"
  ></app-footer-form>

</form>