<div class="container mx-auto flex flex-1">
    <div class="w-1/4 font-light p-3 top-0 flex flex-wrap content-start text-gray-800"
        [ngClass]="isColorAttribute(attribute) ? 'flex-row' : 'flex-col'" *ngFor="let attribute of attributes">
        <p class="w-full py-3">{{attribute.name}}</p>
        <p class="font-thin flex py-1 text-sm hover:text-blue-500 arc-transition"
            *ngFor="let attributeValue of attribute.attributeValues"
            [ngClass]="attributeValue.name[0] !== '#' && attributeValue.name.length !== 7 ? '' : 'px-1'"
            [ngClass]="isActiveAttributeFilter(attribute.id, attributeValue.id) ? 'text-blue-500' : 'cursor-pointer'"
            (click)="setProductFilter(attribute.id, attributeValue.id)">
            <span *ngIf="attributeValue.name[0] !== '#' && attributeValue.name.length !== 7"> {{attributeValue.name}}
            </span>
            <span *ngIf="attributeValue.name[0] === '#' && attributeValue.name.length === 7"
                class="rounded-lg w-4 h-4 px-2" style="background-color: {{attributeValue.name}};"></span>
        </p>
    </div>
</div>