<div class="flex flex-wrap px-3 md:px-10 md:mt-24 md:justify-between" *ngIf="variants && variants.length > 0">
    <div class="w-full md:w-7/12 mb-5">
        <div class="font-light text-2xl mb-3">
            Billing Details
        </div>
        <div class="flex flex-col space-y-2" [formGroup]="billingForm">
            <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Full Name"
                formControlName="name"
                [ngClass]="(billingFormControls.name.touched || invalidBillingForm) && billingFormControls.name.invalid ? 'border-red' : ''" />
            <ng-select placeholder="Country" [items]="countryList" bindValue="alpha3" bindLabel="name"
                formControlName="country" (change)="setBillingState($event)"
                [ngClass]="(billingFormControls.country.touched || invalidBillingForm) && billingFormControls.country.invalid ? 'border-red' : ''">
            </ng-select>
            <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="House number and street name"
                formControlName="line1"
                [ngClass]="(billingFormControls.line1.touched || invalidBillingForm) && billingFormControls.line1.invalid ? 'border-red' : ''" />
            <input type="text" class="arc-input placeholder-gray-400 w-full"
                placeholder="Apartment, suite, unit, etc. (optional)" formControlName="line2" />
            <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Town / City"
                formControlName="city"
                [ngClass]="(billingFormControls.city.touched || invalidBillingForm) && billingFormControls.city.invalid ? 'border-red' : ''" />
            <ng-select placeholder="State / County" [items]="billingStates" bindValue="name" bindLabel="name"
                formControlName="state" *ngIf="billingStates.length > 0"
                [ngClass]="(billingFormControls.state.touched || invalidBillingForm) && billingFormControls.state.invalid ? 'border-red' : ''">
            </ng-select>
            <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="State / County"
                *ngIf="billingStates.length === 0" formControlName="state"
                [ngClass]="(billingFormControls.state.touched || invalidBillingForm) && billingFormControls.state.invalid ? 'border-red' : ''" />
            <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Postcode / ZIP"
                formControlName="zip"
                [ngClass]="(billingFormControls.zip.touched || invalidBillingForm) && billingFormControls.zip.invalid ? 'border-red' : ''" />
        </div>
        <div class="font-light text-2xl mb-3 mt-10">
            Shipping Details
        </div>
        <div>
            <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" class="form-checkbox text-gray-800 ml-1 w-5 h-5"
                    style="transition: all 0.15s ease 0s;" [checked]="shippingAddressCheck"
                    [(ngModel)]="shippingAddressCheck" (change)="toggleShippingAddressCheck()" />
                <span class="ml-2 text-sm font-semibold text-gray-700">
                    Ship to a different address?
                </span>
            </label>
        </div>
        <div class="slider" [class.closed]="!shippingAddressCheck">
            <div class="p-1 flex flex-col space-y-2 mt-3" [formGroup]="shippingForm">
            [ngClass]="(shippingFormControls.name.touched || invalidBillingForm) && shippingFormControls.name.invalid ? 'border-red' : ''" />
                <ng-select placeholder="Country" [items]="countryList" bindValue="alpha3" bindLabel="name"
                    formControlName="country" (change)="setBillingState($event)"
                    [ngClass]="(shippingFormControls.country.touched || invalidShippingForm) && shippingFormControls.country.invalid ? 'border-red' : ''">
                </ng-select>
                <input type="text" class="arc-input placeholder-gray-400 w-full"
                    placeholder="House number and street name" formControlName="line1"
                    [ngClass]="(shippingFormControls.line1.touched || invalidShippingForm) && shippingFormControls.line1.invalid ? 'border-red' : ''" />
                <input type="text" class="arc-input placeholder-gray-400 w-full"
                    placeholder="Apartment, suite, unit, etc. (optional)" formControlName="line2" />
                <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Town / City"
                    formControlName="city"
                    [ngClass]="(shippingFormControls.city.touched || invalidShippingForm) && shippingFormControls.city.invalid ? 'border-red' : ''" />
                <ng-select placeholder="State / County" [items]="billingStates" bindValue="name" bindLabel="name"
                    formControlName="state"
                    [ngClass]="(shippingFormControls.state.touched || invalidShippingForm) && shippingFormControls.state.invalid ? 'border-red' : ''">
                </ng-select>
                <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Postcode / ZIP"
                    formControlName="zip"
                    [ngClass]="(shippingFormControls.zip.touched || invalidShippingForm) && shippingFormControls.zip.invalid ? 'border-red' : ''" />
            </div>
        </div>
        <div class="font-light mt-5">
            Order Notes (optional)
        </div>
        <textarea class="arc-input mt-3 w-full" placeholder="Notes about your order"></textarea>
    </div>
    <div class="w-full md:w-4/12">
        <div class="font-light text-2xl">
            Your Order
        </div>
        <div class="divide-y divide-gray-200">
            <div class="flex justify-between py-5" *ngFor="let variant of variants">
                <div class="flex">
                    <img class="object-contain" src="{{ getImage(variant.images) }}" alt="{{ variant.productName }}"
                        width="{{imageSize}}" height="{{imageSize}}">
                    <div class="flex flex-col font-light ml-6 ">
                        <div class="text-base">
                            {{ variant.productName }} - {{ variant.name }}
                        </div>
                        <div class="arc-tag">
                            x {{ variant.quantity }}
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <div class="absolute right-0 font-light">
                        {{variant.price | currency: settings.currency }}
                    </div>
                </div>
            </div>
        </div>
        <app-cart-total [disableAddress]="true"></app-cart-total>
        <app-button color="gray" [label]="payButtonLabel" [dark]="true" [fullWidth]="true" (click)="pay()"></app-button>
    </div>
</div>
<app-sign-in [(showModal)]="showSignInModal" (signedIn)="afterSignIn($event)"></app-sign-in>
<app-empty-page *ngIf="!variants || variants.length === 0" [label]="'cart'"></app-empty-page>