<div class="container mx-auto flex items-center flex-wrap pt-4 pb-12 arc-transition"
    *ngIf="products && products.length > 0">
    <app-product-card class="sm:w-6/12 md:w-3/12 cursor-pointer" *ngFor="let product of products;trackBy: trackByFn"
        [id]="product.id" [title]="product.name" [images]="product.images" [price]="product.price"
        (click)="navigateToVariant(product.name, product.id)"></app-product-card>
    <div class="flex justify-center w-full py-10 text-gray-700" *ngIf="!done">
        <app-button class="w-48" [secondary]="true" [label]="'More'" [color]="'gray'" [fullWidth]="true" [large]="true"
            [loading]="loading" (click)="moreProducts()"></app-button>
    </div>
</div>
<div class="container mx-auto flex text-xl justify-center text-gray-600 font-light flex-wrap pt-4 pb-12 arc-transition"
    *ngIf="(!products || products.length === 0) && !loading">
    No products found
</div>