<div class="container mx-auto flex items-center flex-wrap pt-4 pb-12 arc-transition">
    <app-product-card class="sm:w-6/12 md:w-3/12 cursor-pointer" *ngFor="let product of products;trackBy: trackByFn"
        [id]="product.id"
        [title]="product.name"
        [images]="product.images"
        [price]="product.price"
        (click)="navigateToVariant(product.name, product.id)"
    ></app-product-card>
    <div class="flex justify-center w-full py-10 text-gray-700">
        <app-button class="w-48" [secondary]="true" [label]="'More'" [color]="'gray'" [fullWidth]="true" [large]="true" (click)="moreProducts()"></app-button>
    </div>
</div>