<div class="relative">
    <div
        class="w-sreen container mx-auto flex flex-wrap items-center justify-between relative mt-0 px-6 py-3 bg-white arc-transition">

        <label for="menu-toggle" class="cursor-pointer block" (click)="toggleMenu()"
            *ngIf="(!showSearch && isMobile) || !isMobile">
            <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                viewBox="0 0 20 20">
                <title>menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </label>
        <input class="hidden" type="checkbox" id="menu-toggle" *ngIf="(!showSearch && isMobile) || !isMobile">

        <div class="flex flex-1 items-center md:justify-center" *ngIf="(!showSearch && isMobile) || !isMobile">
            <a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl pl-6"
                routerLink="/">
                <img style="height: 30px;" *ngIf="logoUrl" src="{{logoUrl}}" alt="{{title}}" crossorigin="anonymous">
                <span *ngIf="!logoUrl">{{title}}</span>
            </a>
        </div>

        <div class="relative -my-2 flex" [class.block]="showSearch" [class.hidden]="!showSearch"
            [ngClass]="isMobile ? 'w-full' : 'flex-1'" (clickOutside)="closeSearch()" [exclude]="'#searchButton'"
            [excludeBeforeClick]="true">
            <input #search class="arc-input placeholder-gray-400 w-full" type="text"
                (keyup)="searchProducts(search.value)" />
            <span class="input-right-label">
                <fa-icon [icon]="faSearch"></fa-icon>
            </span>
            <div class="absolute bg-white flex flex-col arc-transition slider divide-y shadow rounded-b"
                style="margin-top: 3.25rem;" *ngIf="products && products.length > 0"
                [ngClass]="isMobile ? '-ml-6 w-screen' : 'w-full'">
                <div class="p-3 font-light text-gray-700 flex align-middle"
                    *ngFor="let product of products; trackBy: trackByFn"
                    (click)="navigateToVariant(product.name, product.id)">
                    <img class="px-3" src="{{getSmallestThumbnail(product.images)}}" alt="{{product.name}}" width="48"
                        height="48">
                    {{product.name}}
                </div>
            </div>
        </div>

        <div class="inset-y-0 right-0 flex items-center text-gray-800" id="nav-content">

            <a #searchButton id="searchButton" class="px-3 inline-block no-underline hover:text-black cursor-pointer"
                (click)="openSearch($event)" *ngIf="!showSearch">
                <fa-icon [icon]="faSearch"></fa-icon>
            </a>

            <a class="px-3 inline-block no-underline hover:text-black cursor-pointer relative" routerLink="{{wishlistRoute}}"
                *ngIf="(!showSearch && isMobile) || !isMobile">
                <fa-icon [icon]="faHeart"></fa-icon>
                <span *ngIf="user && user.wishlist.length > 0"
                    class="absolute inset-y-0 right-0 w-4 h-4 rounded-full bg-gray-800 text-white text-xs text-center">
                    {{ user.wishlist.length }}
                </span>
            </a>

            <a class="px-3 inline-block no-underline hover:text-black relative cursor-pointer"
                routerLink="{{cartRoute}}" *ngIf="(!showSearch && isMobile) || !isMobile">
                <fa-icon [icon]="faShoppingBag"></fa-icon>
                <span *ngIf="draft && draft.variants.length > 0"
                    class="absolute inset-y-0 right-0 w-4 h-4 rounded-full bg-gray-800 text-white text-xs text-center">
                    {{ draft.variants.length }}
                </span>
            </a>

        </div>

    </div>
</div>