<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-6 py-3">

    <div class="relative">
        <label for="menu-toggle" class="cursor-pointer block md:hidden" (click)="toggleMenu()">
            <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <title>menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </label>
        <input class="hidden" type="checkbox" id="menu-toggle">

        <div class="md:hidden w-screen order-3 md:order-1 slider absolute bg-white z-10" [ngClass]="showMenu ? '' : 'closed'" id="menu">
            <nav>
                <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0">
                    <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" href="#">Categories</a></li>
                    <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" href="#">Collections</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="flex flex-1 items-center md:justify-center">
        <a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl pl-6" href="#">
            ARCTIC
        </a>
    </div>

    <div class="inset-y-0 right-0 flex items-center text-gray-800" id="nav-content">

        <a class="px-3 inline-block no-underline hover:text-black" href="#">
            <fa-icon [icon]="faSearch"></fa-icon>
        </a>

        <a class="px-3 inline-block no-underline hover:text-black" href="#">
            <fa-icon [icon]="faHeart"></fa-icon>
        </a>

        <a class="px-3 inline-block no-underline hover:text-black" href="#">
            <fa-icon [icon]="faShoppingBag"></fa-icon>
        </a>

    </div>
</div>