<div class="relative md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <!-- Card stats -->
    <div class="flex flex-wrap w-full xl:w-8/12">
      <app-tile class="w-full lg:w-6/12 px-4" [label]="'Orders'" [value]="'350,897'" [icon]="faFileAlt"
        [subValueColor]="'green'" [subValue]="'3.48%'" [subLabel]="'Since yesterday'" [iconContainerColor]="'pink'">
      </app-tile>
      <app-tile class="w-full lg:w-6/12 px-4" [label]="'Sales'" [value]="'924'" [icon]="faChartLine"
        [subValueColor]="'orange'" [subValue]="'1.10%'" [subLabel]="'Since yesterday'" [iconContainerColor]="'teal'">
      </app-tile>
    </div>
  </div>
</div>