<!-- BODY -->
<div class="flex flex-col h-screen justify-between">
    <div class="relative pt-12 mb-auto h-10">
        <div class="px-4 md:px-10 mx-auto w-full">
            <div class="flex flex-wrap mt-4 mb-12" *ngIf="order">
                <div class="w-full xl:w-8/12 xl:mb-0 px-4">
                    <app-card *ngIf="edit && unFullfilledProducts.length > 0" [heading]="'Unfullfilled'"
                        [actions]="unfullfilledActionTemplate" [body]="unfullfilledListTemplate"></app-card>
                    <div *ngFor="let fullfilledWarehouse of fullfilledProducts">
                        <ng-template #fullfilledCardBody>
                            <ng-container
                                *ngTemplateOutlet="fullfilledListTemplate; context: { fullfilledWarehouse: fullfilledWarehouse }">
                            </ng-container>
                        </ng-template>
                        <ng-template #fullfilledCardHead>
                            <ng-container
                                *ngTemplateOutlet="fullfilledActionTemplate; context: { fullfilledWarehouse: fullfilledWarehouse }">
                            </ng-container>
                        </ng-template>
                        <app-card *ngIf="edit && fullfilledProducts.length > 0" [heading]="'Fullfilled'"
                            [body]="fullfilledCardBody" [actions]="fullfilledCardHead"></app-card>
                    </div>
                    <app-card *ngIf="edit" [heading]="order.paymentStatus.toUpperCase()" [body]="chargeTemplate">
                    </app-card>
                </div>
                <div class="w-full xl:w-4/12 px-4">
                    <app-card [heading]="'Customer'" [body]="customerTemplate"></app-card>
                    <app-card [heading]="'Notes'" [body]="notesTemplate"></app-card>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TEMPLATES -->

<ng-template #chargeTemplate>
    <div class="divide-y">
        <div class="flex flex-wrap flex-col px-4 py-3 text-gray-800">
            <div class="flex relative w-full py-1">
                <div class="w-4/12">Subtotal</div>
                <div class="w-5/12">{{totalQuantity}} items</div>
                <div class="w-3/12 text-right">{{order.subTotal | currency: settings.currency }}</div>
            </div>
            <div class="flex relative w-full py-1">
                <div class="w-4/12">Taxes</div>
                <div class="w-5/12">
                    <span *ngIf="order.taxCharge === 0">does not apply</span>
                </div>
                <div class="w-3/12 text-right">{{order.taxCharge | currency: settings.currency }}</div>
            </div>
            <div class="flex relative w-full py-1">
                <div class="w-4/12">Shipping</div>
                <div class="w-5/12">
                    <span *ngIf="order.shippingCharge === 0">does not apply</span>
                    <span *ngIf="order.shippingCharge > 0">{{order.data.shippingRateData.name}}</span>
                </div>
                <div class="w-3/12 text-right">{{order.shippingCharge | currency: settings.currency }}</div>
            </div>
            <div class="flex relative w-full py-1" *ngIf="order.saleDiscount && order.saleDiscount > 0">
                <div class="w-4/12">Sale Discount</div>
                <div class="w-5/12"></div>
                <div class="w-3/12 text-right">{{order.saleDiscount | currency: settings.currency }}</div>
            </div>
            <div class="flex relative w-full py-1" *ngIf="order.voucherDiscount && order.voucherDiscount > 0">
                <div class="w-4/12">Voucher</div>
                <div class="w-5/12">{{order.data?.voucherData?.code}}</div>
                <div class="w-3/12 text-right">{{order.voucherDiscount | currency: settings.currency }}</div>
            </div>
            <div class="flex relative w-full py-1 font-semibold" *ngIf="order">
                <div class="w-4/12">Total</div>
                <div class="w-5/12"></div>
                <div class="w-3/12 text-right">{{order.total | currency: settings.currency }}</div>
            </div>
        </div>
        <div class="flex flex-wrap flex-col px-4 py-3 text-gray-800">
            <div class="flex relative w-full py-1">
                <div class="w-6/12">Captured Amount</div>
                <div class="w-6/12 text-right">{{order.capturedAmount | currency: settings.currency }}</div>
            </div>
            <div class="flex relative w-full py-1 font-semibold">
                <div class="w-6/12">Outstanding Balance</div>
                <div class="w-6/12 text-right">{{ balanceAmount | currency: settings.currency }}
                </div>
            </div>
        </div>
        <div class="flex border-t border-gray-300 justify-end py-2 px-5">
            <div class="arc-link-button -mr-3" (click)="toggleRefundModal()" *ngIf="!order.cod">Refund</div>
            <div class="arc-link-button -mr-3" (click)="toggleCaptureModal()" *ngIf="order.cod">
                <span *ngIf="order.capturedAmount > 0">Edit captured amount</span>
                <span *ngIf="order.capturedAmount === 0">Capture amount</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #customerTemplate>
    <div class="divide-y">
        <div class="px-4 py-3 text-gray-800">
            <span>{{order.customerName || order?.firstName + ' ' + order?.lastName}}</span>
            <span *ngIf="order.phone"> {{order.phone}} </span>
            <span *ngIf="order.email"> {{order.email}} </span>
        </div>
        <div class="px-4 py-3 text-gray-800 flex flex-col">
            <span class="uppercase font-semibold mb-2">Shipping Address</span>
            <p>{{ order?.firstName + ' ' + order?.lastName }}</p>
            <p>{{ order.shippingAddress.line1 }}</p>
            <p>{{ order.shippingAddress.line2 }}</p>
            <p>{{ order.shippingAddress.city }}</p>
            <p>{{ order.shippingAddress.zip }}</p>
            <p>{{ order.shippingAddress.area }}</p>
            <p>{{ getCountryName(order.shippingAddress.country) }}</p>
        </div>
        <div class="px-4 py-3 text-gray-800 flex flex-col">
            <span class="uppercase font-semibold mb-2">Billing Address</span>
            <p>{{ order?.firstName + ' ' + order?.lastName }}</p>
            <p>{{ order.billingAddress.line1 }}</p>
            <p>{{ order.billingAddress.line2 }}</p>
            <p>{{ order.billingAddress.city }}</p>
            <p>{{ order.billingAddress.zip }}</p>
            <p>{{ order.billingAddress.area }}</p>
            <p>{{ getCountryName(order.billingAddress.country) }}</p>
        </div>
    </div>
</ng-template>

<ng-template #notesTemplate>
    <div class="flex flex-wrap flex-col px-4 py-3 text-gray-800">
        {{order.notes || 'No notes from customer' }}
    </div>
</ng-template>

<!-- BUTTON TEMPLATES -->

<ng-template #unfullfilledActionTemplate>
    <label class="arc-link-button" type="button" *ngIf="unFullfilledProducts.length > 0">
        <a routerLink="{{fullfillRoute}}">Fullfill</a>
    </label>
</ng-template>

<ng-template #fullfilledActionTemplate let-fullfilledWarehouse="fullfilledWarehouse">
    <div class="relative flex justify-end" *ngIf="loadingWarehouseId === fullfilledWarehouse[0].warehouseId">
        <app-spinner [size]="3"></app-spinner>
    </div>
    <app-dropdown *ngIf="loadingWarehouseId !== fullfilledWarehouse[0].warehouseId" class="flex justify-end"
        [rightAligned]="true" [buttonTemplate]="fullfilledDropdownButton"
        [bodyTemplate]="{ template: fullfilledDropdownBody, context: { warehouseId: fullfilledWarehouse[0].warehouseId } }">
    </app-dropdown>
</ng-template>

<ng-template #fullfilledDropdownButton>
    <fa-icon [icon]="faEllipsisV" class="arc-link-button"></fa-icon>
</ng-template>

<ng-template #fullfilledDropdownBody let-warehouseId="warehouseId">
    <a class="arc-dropdown-item" (click)="cancelFullfillment(warehouseId)">
        Cancel fullfillment
    </a>
</ng-template>

<!-- MODAL TEMPLATES -->

<app-modal [(showModal)]="showTrackingModal" [loading]="modalLoading"
    [heading]="editTrackingModal ? 'Edit' + ' Tracking' : 'Add' + ' Tracking'" [size]="'small'"
    [bodyTemplate]="trackingTemplate" (modalCallback)="addTrackingCode()"></app-modal>

<app-modal [(showModal)]="showRefundModal" [loading]="modalLoading"
    [heading]="'Refund'" [size]="'small'"
    [bodyTemplate]="refundTemplate" (modalCallback)="refund()"></app-modal>


<app-modal [(showModal)]="showCaptureModal" [loading]="modalLoading"
    [heading]="'Capture Amount'" [size]="'small'"
    [bodyTemplate]="captureTemplate" (modalCallback)="capture()"></app-modal>

<ng-template #trackingTemplate>
    <input #trackingInput type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Code"
        [(ngModel)]="trackingCode" (keyup)="trackingCode = trackingInput.value" />
</ng-template>

<ng-template #refundTemplate>
    <input #refundInput type="number" class="arc-input placeholder-gray-400 w-full" placeholder="Amount"
        [(ngModel)]="refundAmount" (keyup)="refundAmount = refundInput.value" />
</ng-template>

<ng-template #captureTemplate>
    <input #captureInput type="number" class="arc-input placeholder-gray-400 w-full" placeholder="Amount"
        [(ngModel)]="captureAmount" (keyup)="captureAmount = captureInput.value" />
</ng-template>

<!-- TABLE TEMPLATES -->

<ng-template #unfullfilledListTemplate>
    <ng-container *ngTemplateOutlet="productListTable; context:{ productsSource: unFullfilledProducts }"></ng-container>
</ng-template>

<ng-template #fullfilledListTemplate let-fullfilledWarehouse="fullfilledWarehouse">
    <div class="relative">
        <div class="absolute w-full h-full bg-white opacity-75 flex justify-center items-center"
            *ngIf="loadingWarehouseId === fullfilledWarehouse[0].warehouseId">
            <app-spinner [size]="5"></app-spinner>
        </div>
        <ng-container *ngTemplateOutlet="productListTable; context:{ productsSource: fullfilledWarehouse }">
        </ng-container>
        <div class="py-3 px-5">
            Fullfilled from: {{ warehouses && getWarehouseName(fullfilledWarehouse[0].warehouseId) }}
        </div>
        <div class="flex border-t border-gray-400 justify-between py-2 px-5">
            <label>
                <span *ngIf="getTrackingId(fullfilledWarehouse[0].warehouseId)">
                    Tracking ID: {{ getTrackingId(fullfilledWarehouse[0].warehouseId) }}
                </span>
            </label>
            <label class="arc-link-button" (click)="toggleTrackingModal(fullfilledWarehouse[0].warehouseId)">
                <span *ngIf="getTrackingId(fullfilledWarehouse[0].warehouseId)">Edit</span>
                <span *ngIf="!getTrackingId(fullfilledWarehouse[0].warehouseId)">Add Tracking Code</span>
            </label>
        </div>
    </div>
</ng-template>

<ng-template #productListTable let-productsSource="productsSource">
    <div class="overflow-x-scroll">
        <table mat-table [dataSource]="productsSource">

            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef>Product</th>
                <td mat-cell *matCellDef="let row" class="max-w-xs truncate">
                    <p>{{row.baseProduct.name}}</p>
                    <p class="text-xs text-gray-600">{{row.name}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef>SKU</th>
                <td mat-cell *matCellDef="let row">{{row.sku}}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let row">{{row.orderQuantity}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let row">{{row.price}}</td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let row">{{row.price * row.orderQuantity}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</ng-template>