<br><br><br>
<div>

<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
    <div class="relative w-full mb-3">
     
      <input
        type="text"
        class="arc-input placeholder-gray-400 w-full"
        placeholder="name"
     [ngClass]="nameDanger ? 'border-red' : ''"
        formControlName="name"
      />
    </div>
    <div class="relative w-full mb-3">
     
     <input
        type="text"
        class="arc-input placeholder-gray-400 w-full"
        placeholder="product type"
        [ngClass]="typeDanger ? 'border-red' : ''"
        formControlName="type"
      />
    </div>

    <button
    class="arc-button w-full"
                  type="submit">
  <div >save</div>
  <app-spinner
    [color]="'currentColor'"
    [size]="'5'"
    [@inOutAnimation]
  ></app-spinner>
  <fa-icon
    [icon]="faCheckCircle"
    size="lg"
    [@inOutAnimation]
  ></fa-icon>
  </button>

  </form>
</div>
