<form class="flex flex-col h-screen justify-between" [formGroup]="addCollectionForm" (ngSubmit)="onSubmit()">

  <!-- TEMPLATES -->

  <ng-template #collection>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Name"
            [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
        </div>
        <div class="field pt-3">
          <div class="control">
            <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #imageUploadAction>
    <div class="flex w-full justify-center bg-grey-lighter">
      <label class="arc-link-button" type="button">
        Upload Image
        <input type='file' class="hidden" />
      </label>
    </div>
  </ng-template>

  <ng-template #imageUpload>
    <app-upload
      [uploadProgress]="uploadProgress"
      [thumbnails]="thumbnails"
      (fileClickedCallback)="onFileClicked($event)"
      (fileDroppedCallback)="onFileDropped($event)"
      (deleteImageCallback)="deleteCollectionImage($event)"
    ></app-upload>
  </ng-template>

  <ng-template #visibility>
    <div class="flex items-center ml-4 mb-4 p-1">
      <input id="radio1" type="radio" name="radio" class="hidden" checked />
      <label for="radio1" class="flex items-center cursor-pointer">
        <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
        Visible</label>
    </div>
    <div class="flex items-center ml-4 mb-4 p-1">
      <input id="radio2" type="radio" name="radio" class="hidden" />
      <label for="radio2" class="flex items-center cursor-pointer">
        <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
        Hidden</label>
    </div>
  </ng-template>

  <!-- BODY -->

  <div class="relative md:pt-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap mt-4">
        <div class="w-full xl:w-8/12 xl:mb-0 px-4">
          <app-card [heading]="'General Information'" [body]="collection"></app-card>
          <app-card *ngIf="edit" [heading]="'Images'" [actions]="imageUploadAction" [body]="imageUpload"></app-card>
        </div>
        <div class="w-full xl:w-4/12 px-4">
          <app-card [heading]="'Visibility'" [body]="visibility"></app-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer-form
  [loading]="loading"
  [success]="success"
  [showDelete]="edit"
  [loadingDelete]="loadingDelete"
  [successDelete]="successDelete"
  (deleteCallback)="deleteCollection()"
></app-footer-form>


</form>