<form class="flex flex-col h-screen justify-between" [formGroup]="collectionForm" (ngSubmit)="onSubmit()">

  <!-- TEMPLATES -->

  <ng-template #collectionTemplate>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Name"
            [ngClass]="collectionFormControls.name.touched && collectionFormControls.name.invalid ? 'border-red' : ''"
            formControlName="name" />
        </div>
        <div class="field pt-3">
          <div class="control">
            <angular-editor formControlName="description" [config]="editorConfig" placeholder="Description">
            </angular-editor>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #imageUpload>
    <app-upload [uploadProgress]="uploadProgress" [thumbnails]="thumbnails"
      (fileClickedCallback)="onFileClicked($event)" (fileDroppedCallback)="onFileDropped($event)"
      (deleteImageCallback)="deleteCollectionImage($event)"></app-upload>
  </ng-template>

  <ng-template #visibility>
    <div class="divide-y">
      <div>
        <div class="flex items-center ml-4 p-1">
          <input id="active" type="radio" name="status" class="hidden" value="active" formControlName="status" />
          <label for="active" class="flex items-center cursor-pointer">
            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
            Visible</label>
        </div>
        <div class="flex items-center ml-4 mb-2 p-1">
          <input id="inactive" type="radio" name="status" class="hidden" value="inactive" formControlName="status" />
          <label for="inactive" class="flex items-center cursor-pointer">
            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
            Hidden</label>
        </div>
      </div>
      <div class="w-full ml-4 py-3 px-1">
        <label class="inline-flex w-full">
          <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-400" formControlName="featureOnHomePage">
          <span class="ml-2 text-gray-700 flex flex-col">
            Feature on Homepage
          </span>
        </label>
      </div>
    </div>
  </ng-template>

  <!-- BODY -->

  <div class="relative pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap mt-4">
        <div class="w-full xl:w-8/12 xl:mb-0 px-4">
          <app-card [heading]="'General Information'" [body]="collectionTemplate"></app-card>
          <app-card *ngIf="edit" [heading]="'Images'" [actions]="imageUploadAction" [body]="imageUpload"></app-card>
          <app-card *ngIf="collection" [heading]="'Products in ' + collection.name" [actions]="productActionTemplate"
            [body]="productListTemplate"></app-card>
        </div>
        <div class="w-full xl:w-4/12 px-4">
          <app-card [heading]="'Visibility'" [body]="visibility"></app-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer-form [loading]="loading" [success]="success" [showDelete]="edit" [loadingDelete]="loadingDelete"
    [successDelete]="successDelete" (deleteCallback)="deleteCollection()"></app-footer-form>

</form>

<!-- MODALS -->

<app-catalog-modal-list [(showModal)]="showModal" [loading]="modalLoading" [success]="modalSuccess"
  [existingIds]="existingIds" [type]="'product'" (addCatalog)="addProduct($event)"></app-catalog-modal-list>

<!-- BUTTON TEMPLATES -->

<ng-template #imageUploadAction>
  <label class="arc-link-button" type="button">
    Upload Image
    <input type='file' class="hidden" (change)="onFileClicked($event)" />
  </label>
</ng-template>

<ng-template #productActionTemplate>
  <label class="arc-link-button" type="button">
    <a (click)="toggleShowModal()">Assign Product</a>
  </label>
</ng-template>

<!-- TABLE TEMPLATES -->

<ng-template #productListTemplate>
  <div class="overflow-x-scroll">
    <app-spinner class="data-empty" *ngIf="productsLoading" [size]="'5'"></app-spinner>
    <div *ngIf="!productsLoading">
      <div *ngIf="products && products.length === 0" class="data-empty">No data available</div>
      <table *ngIf="products && products.length > 0" mat-table [dataSource]="productsSource">

        <ng-container matColumnDef="image">
          <td mat-cell *matCellDef="let row" class="w-32 content-center">
            <img src="{{ getSmallestThumbnail(row.images) }}" width="48" height="48" class="m-3" />
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Product Name</th>
          <td mat-cell *matCellDef="let row" class="padding-0">
              <div class="flex flex-wrap relative align-middle" *ngIf="row">
                  <div class="relative w-full px-5 py-3">{{row.name}}</div>
                  <app-spinner class="absolute right-0 mx-4 py-3" *ngIf="removeLoading && productDeleteId === row.id" [size]="'5'" [@inOutAnimation]></app-spinner>
                  <div class="absolute right-0 mx-2 py-3" *ngIf="!removeLoading || productDeleteId !== row.id" (click)="removeProduct(row.id)" [@inOutAnimation]>
                      <fa-icon [icon]="faTrash" class="arc-link-button-secondary"></fa-icon>
                  </div>
              </div>
          </td>
      </ng-container>

        <tr mat-row *matRowDef="let row; columns: productColumns;" (click)="navigateToProduct(row.id)"></tr>

      </table>
    </div>
  </div>
</ng-template>