<form class="flex flex-col h-screen justify-between" [formGroup]="addWarehouseForm" (ngSubmit)="onSubmit()">

    <ng-template #warehouse>
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
            <div class="w-full mb-3">
              <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Warehouse Name"
                [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #address>
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
            <div class="w-full mb-3 pt-5">
              <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Company"
                [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
            </div>
            <div class="w-full mb-3 pt-5">
                <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="address line 1"
                  [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
              </div>
              <div class="w-full mb-3 pt-5">
                <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="address line 2"
                  [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
              </div>

              
                <div class="w-full mb-3 pt-5">
                  <input type="text" class="arc-input placeholder-gray-400 w-7/12 flex " placeholder="City"
                    [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
                </div>
                <div class="w-full mb-3 pt-5">
                  <input type="text" class="arc-input placeholder-gray-400 w-4/12 flex" placeholder="ZIP / Postal Code"
                    [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
                </div>
              
              
              <div class="w-full mb-3 pt-5">
                <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Country"
                  [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
              </div>
              <div class="w-full mb-3 pt-5">
                <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Country Area"
                  [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
              </div>
          </div>
        </div>
      </ng-template>
      
      <ng-template #summary>

      </ng-template>

      <div class="relative md:pt-32 pt-12">
        <div class="px-4 md:px-10 mx-auto w-full">
          <div class="flex flex-wrap mt-4">
            <div class="w-full xl:w-8/12 xl:mb-0 px-4">
              <app-card [heading]="'General Information'" [body]="warehouse"></app-card>
              <app-card [heading]="'Address Information'" [body]="address"></app-card>
              
            </div>
            <div class="w-full xl:w-4/12 px-4">
              <app-card [heading]="'Summary'" [body]="summary"></app-card>
            </div>
          </div>
        </div>
      </div>

      <app-footer-form [loading]="loading" [success]="success"></app-footer-form>

</form>
