<form class="flex flex-col h-screen justify-between" [formGroup]="addProductForm" (ngSubmit)="onSubmit()">

  <!-- TEMPLATES -->

  <ng-template #productNameDesc>

    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">

        <div class="w-full mb-3">
          <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Name"
            [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
        </div>

      </div>
    </div>

  </ng-template>

  <ng-template #productPrice>

    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" class="form-checkbox arc-checkbox"/>
          <span class="ml-2 text-sm font-semibold text-gray-700">Charge taxes for this item</span>
        </label>
        <div class="w-full mb-3">
          <input type="number" class="arc-input placeholder-gray-400 w-full" placeholder="price"
            [ngClass]="priceDanger ? 'border-green' : ''" formControlName="price" />
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template #organizeProduct>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <ng-select formControlName="productType" placeholder="Product Type"></ng-select>
        </div>
        <div class="w-full mb-3">
          <ng-select formControlName="category" placeholder="Category"></ng-select>
        </div>
        <div class="w-full mb-3">
          <ng-select formControlName="collection" placeholder="Collection"></ng-select>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #visibility>
    <div class="flex items-center ml-4 mb-4 p-1">
      <input id="radio1" type="radio" name="radio" class="hidden" checked />
      <label for="radio1" class="flex items-center cursor-pointer">
       <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
       Visible</label>
      </div>
       <div class="flex items-center ml-4 mb-4 p-1">
        <input id="radio2" type="radio" name="radio" class="hidden" />
        <label for="radio2" class="flex items-center cursor-pointer">
         <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
         Hidden</label>
       </div>
     
  </ng-template>

  <!-- BODY -->

  <div class="relative md:pt-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap mt-4">
        <div class="w-full xl:w-8/12 xl:mb-0 px-4">
          <app-card [heading]="'General Information'" [body]="productNameDesc"></app-card>
          <app-card [heading]="'Pricing'" [body]="productPrice"></app-card>
        </div>
        <div class="w-full xl:w-4/12 px-4">
          <app-card [heading]="'Organize Product'" [body]="organizeProduct"></app-card>
          <app-card [heading]="'Visibility'" [body]="visibility"></app-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer-form></app-footer-form>

</form>