<form class="flex flex-col h-screen justify-between" [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">

  <!-- TEMPLATES -->

  <ng-template #Category>
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 py-3 max-w-full flex-grow flex-1">
        <div class="w-full mb-3">
          <input type="text" class="arc-input placeholder-gray-400 w-full" placeholder="Category Name"
            [ngClass]="nameDanger ? 'border-red' : ''" formControlName="name" />
        </div>
        <div class="field pt-3">
          <div class="control">
            <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #imageUpload>
    <div class="flex w-full justify-center bg-grey-lighter">
      <label class="arc-link-button" type="button">
        Upload Image
        <input type='file' class="hidden" />
      </label>
    </div>
    <!-- <div appDragAndDrop (fileDropped)="onFileDropped($event)">
      </div> -->
  </ng-template>

  <ng-template #textArea>
    <div class="flex w-full justify-center pt-3">
      <textarea class="w-1/2 h-32 mb-3 resize border rounded focus:outline-none focus:shadow-outline"></textarea>
    </div>
  </ng-template>

  <!-- BODY -->

  <div class="relative md:pt-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap mt-4">
        <div class="w-full xl:w-8/12 xl:mb-0 px-4">
          <app-card [heading]="'General Information'" [body]="Category"></app-card>
          <app-card *ngIf="edit" [heading]="'Images'" [actions]="imageUpload" [body]="textArea"></app-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer-form [loading]="loading" [success]="success"></app-footer-form>

</form>