
<footer class="flex justify-between py-5">

    <div>
   <a href="#" class="px-3">About Us</a>
   <a href="#" class="px-3">Blog</a>
   <a href="#" class="px-3">FAQs</a>
   <a href="#" class="px-3">Order Tracking</a>
   <a href="#" class="px-3">Contact</a>
   <a href="#" class="px-3">© By ArcticMade</a>
    </div>

    <div class="space-x-2">
        <i><fa-icon [icon]="faInstagram"></fa-icon></i>
        <i><fa-icon [icon]="faFacebook"></fa-icon></i>
        <i><fa-icon [icon]="faTwitter"></fa-icon></i>    
    </div>

</footer>