<div class="product-card w-full p-3 flex flex-col flex-grow hover:grow hover:shadow-lg" (mouseenter)="hover = true"
    (mouseleave)="hover = false">
    <div class="relative w-full flex flex-col">
        <div class="absolute bg-white h-64 w-64"></div>
        <img style="transition: all 0.35s ease 0s;" *ngFor="let img of images; trackBy: trackByFn; let first = first"
            [ngClass]="first ? 'relative' : 'absolute opacity-0'" src="{{img.url}}" alt="{{img.title}}" crossorigin="anonymous"
            [class.opacity-100]="!first && hover" [class.opacity-0]="!first && !hover">
        <div *ngIf="discount"
            class="absolute rounded-lg right-0 bg-white py-1 px-2 mt-1 mr-1 {{accentText}} text-sm font-light">
            -{{discount}}%
        </div>
    </div>
    <div class="relative pt-3 w-full flex items-center justify-between">
        <p class="text-gray-600 font-light">{{title}}</p>
        <fa-icon *ngIf="!heartLoading" [icon]="heart ? faHeartS : faHeartR" (click)="heartClick($event)" size="1x"
            [ngClass]="heart ? 'text-red-500' : 'text-gray-500'"
            class="h-6 w-6 text-gray-500 hover:text-black cursor-pointer"></fa-icon>
        <app-spinner class="h-6 w-6" *ngIf="heartLoading" [size]="5"></app-spinner>
    </div>
    <div class="relative flex flex-col w-full text-gray-700">
        <p class="relative pt-1 font-light">
            <span class="line-through text-gray-500">{{strikePrice | currency: settings && settings.currency}}</span>
            <span [ngClass]="discount || (strikePrice && strikePrice > 0) ? accentText + ' font-normal' : ''">{{price | currency: settings && settings.currency}}</span>
        </p>
        <p class="absolute bg-white pt-1 font-hairline cursor-pointer hover:{{accentText}} w-3/4"
            *ngIf="hover" [@slideInOutAnimation]>
            Show more
        </p>
    </div>
</div>