<div class="flex flex-wrap justify-center w-full mb-3">
    <carousel style="width: {{ innerWidth > 767 ? '75%' : '100%' }}" *ngIf="carouselImages.length > 0"
        [height]="innerWidth > 767 ? 300 : 200" [cellWidth]="innerWidth" [arrows]="false" [arrowsOutside]="true">
        <div class="carousel-cell" *ngFor="let img  of carouselImages; trackBy: trackByFn" (click)="navigateToCollection(img.collectionId, img.name)">
            <img src="{{img.url}}" alt="{{img.name}}" />
        </div>
    </carousel>
</div>