<ng-sidebar-container style="min-height: 100vh;">
    <ng-sidebar [(opened)]="sidebarOpened">
        <app-sidebar></app-sidebar>
    </ng-sidebar>
    <div ng-sidebar-content class="relative min-h-screen">
        <div>
            <app-navbar class="mt-0 fixed w-full z-20 top-0 shadow"></app-navbar>
            <div class="container mx-auto bg-white pt-20">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer class="absolute bottom-0 inset-x-0"></app-footer>
        <app-sign-in></app-sign-in>
        <app-alert></app-alert>
    </div>
</ng-sidebar-container>
