@import "starter.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.max-h-64 {
    max-height: 16rem;
}

.arc-transition {
    transition: all 0.15s ease 0s;
}

.scrollbar::-webkit-scrollbar-track, .scroll-host::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	background-color: #F5F5F5 !important;
}
.scrollbar::-webkit-scrollbar, .scroll-host::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
	background-color: #F5F5F5 !important;
}
.scrollbar::-webkit-scrollbar-thumb, .scroll-host::-webkit-scrollbar-thumb {
	background-color: #0ae !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent)) !important;
}

.sticky-input {
    @apply sticky;
    @apply z-10;
    @apply top-0;
}

.slider {
	overflow-y: hidden;
	max-height: 500px;
    box-sizing: border-box;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.slider.closed {
	max-height: 0;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.sidebar-heading {
    @apply text-gray-600;
    @apply text-xs;
    @apply uppercase;
    @apply font-bold;
    @apply block;
    @apply pt-1;
    @apply no-underline;
    @apply cursor-pointer;
    @apply arc-transition;
}

@screen md {
    @apply min-w-full; 
}

.arc-input {
    @apply px-3;
    @apply py-3;
    @apply text-gray-700;
    @apply bg-white;
    @apply rounded;
    @apply text-sm;
    @apply shadow;
    @apply arc-transition;
}
.arc-input:focus {
    @apply outline-none;
    @apply shadow-outline;
}

.input-right-label {
    @apply absolute;
    @apply inset-y-0;
    @apply right-0;
    @apply flex;
    @apply items-center;
    @apply text-sm;
    @apply pr-6;
    @apply text-gray-600;
}

.input-group-left {
    @apply arc-input;
    @apply rounded-r-none;
    @apply shadow-none !important;
}
.input-group-left:focus {
    @apply outline-none;
}

.input-group-right {
    @apply arc-input;
    @apply rounded-l-none;
    @apply shadow-none !important;
}
.input-group-right:focus {
    @apply outline-none;
}


.arc-label {
    @apply block;
    @apply uppercase;
    @apply text-gray-700;
    @apply text-xs;
    @apply font-bold;
    @apply mb-2;
}

.arc-button-base {
    @apply inline-flex;
    @apply justify-center;
    @apply items-center;
    @apply text-sm;
    @apply font-bold;
    @apply uppercase;
    @apply px-5;
    @apply py-2;
    @apply rounded;
    @apply shadow;
    @apply outline-none;
    @apply mr-1;
    @apply mb-1;
    @apply arc-transition;
}

.arc-button {
    @apply arc-button-base;
    @apply text-white;
}
.arc-button:hover {
    @apply shadow-lg;
}
.arc-button:focus {
    @apply outline-none;
}

.arc-button-secondary {
    @apply arc-button-base;
}
.arc-button-secondary:hover {
    @apply shadow-lg;
}
.arc-button-secondary:focus {
    @apply outline-none;
}

.arc-link-button-base {
    @apply bg-transparent;
    @apply items-center;
    @apply font-bold;
    @apply uppercase;
    @apply px-3;
    @apply py-2;
    @apply text-xs;
    @apply outline-none;
    @apply rounded-lg;
    @apply cursor-pointer;
    @apply arc-transition;
}

.arc-link-button {
    @apply arc-link-button-base;
    @apply text-blue-500;
}
.arc-link-button:hover {
    @apply shadow-md;
}
.arc-link-button:focus {
    @apply outline-none;
}

.arc-link-button-secondary {
    @apply arc-link-button-base;
    @apply text-gray-700;
}
.arc-link-button-secondary:hover {
    @apply shadow-md;
}
.arc-link-button-secondary:focus {
    @apply outline-none;
}

.arc-checkbox {
    @apply text-gray-800;
    @apply ml-1;
    @apply w-5;
    @apply h-5;
    @apply arc-transition;
}

.arc-button-regular {
    @apply bg-indigo-500;
    @apply text-white;
    @apply font-bold;
    @apply uppercase;
    @apply text-xs;
    @apply px-4;
    @apply py-2;
    @apply rounded;
    @apply shadow;
    @apply outline-none;
    @apply mr-1;
    @apply mb-1;
    @apply arc-transition;
}
.arc-button-regular:active {
    @apply bg-blue-600;
}
.arc-button-regular:hover {
    @apply shadow-md;
}
.arc-button-regular:focus {
    @apply outline-none;
}

.arc-dropdown-button {
    @apply inline-flex;
    @apply justify-center;
    @apply w-full;
    @apply rounded-md;
    @apply border;
    @apply border-gray-300;
    @apply px-4;
    @apply py-2;
    @apply bg-white;
    @apply text-sm;
    @apply leading-5;
    @apply font-medium;
    @apply text-gray-700;
    @apply arc-transition;
}
.arc-dropdown-button:hover {
    @apply text-gray-500;
}
.arc-dropdown-button:focus {
    @apply outline-none;
    @apply border-blue-300;
}
.arc-dropdown-button:active {
    @apply bg-gray-500;
    @apply text-gray-800;
}

.arc-dropdown-panel {
    @apply rounded-md;
    @apply bg-white;
    @apply shadow-lg;
    @apply absolute;
    @apply arc-transition;
    z-index: 60;
}

.arc-dropdown-panel-items {
    @apply py-1;
}

.arc-dropdown-item {
    @apply block;
    @apply px-4;
    @apply py-2;
    @apply text-sm;
    @apply leading-5;
    @apply text-gray-700;
    @apply cursor-pointer;
    @apply whitespace-no-wrap;
    @apply w-full;
}

.arc-dropdown-item:hover {
    @apply bg-gray-100;
    @apply text-gray-900;
}

.arc-dropdown-item:focus {
    @apply outline-none;
    @apply bg-gray-100;
    @apply text-gray-900;
}

.arc-tag {
    @apply text-xs;
    @apply font-semibold;
    @apply py-1;
    @apply px-2;
    @apply rounded;
    @apply text-white;
    @apply bg-gray-800;
    @apply text-center;
    width: max-content;
}

.disabled {
    @apply cursor-not-allowed;
    @apply opacity-50;
}

.border-red {
    @apply border;
    @apply border-red-500;
}

.link-semibold {
    @apply text-sm;
    @apply block;
    @apply mb-4;
    @apply no-underline;
    @apply font-semibold;
    @apply cursor-pointer;
}

.link-bold {
    @apply text-xs;
    @apply uppercase;
    @apply py-3;
    @apply font-bold;
    @apply block;
    @apply cursor-pointer;
}

.data-empty {
    @apply flex;
    @apply justify-center;
    @apply py-5;
}

.width-75 {
    width: 75% !important;
}

.height-0 {
    @apply h-0 !important;
}

.padding-0 {
    @apply p-0 !important;
}

.padding-y-0 {
    @apply py-0 !important;
}

input[type="radio"] + label span {
    transition: background .2s transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
  transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
  @apply bg-blue-500;
}

input[type="radio"]:checked + label{
    @apply text-blue-500;
}

table {
    @apply px-1;
    @apply items-center;
    @apply w-full;
    @apply bg-transparent;
    @apply border-collapse;
}

thead tr th {
    @apply px-6;
    @apply bg-gray-100;
    @apply text-gray-600;
    @apply align-middle;
    @apply border;
    @apply border-solid;
    @apply border-gray-200;
    @apply py-3;
    @apply text-xs;
    @apply uppercase;
    @apply border-l-0;
    @apply border-r-0;
    @apply whitespace-no-wrap;
    @apply font-semibold;
    @apply text-left;
}

tbody tr th {
    @apply border-t-0;
    @apply px-6;
    @apply align-middle;
    @apply border-l-0;
    @apply border-r-0;
    @apply text-xs;
    @apply whitespace-no-wrap;
    @apply p-4;
    @apply text-left;
}

tbody tr td {
    @apply border-t-0;
    @apply px-6;
    @apply align-middle;
    @apply border-l-0;
    @apply border-r-0;
    @apply text-xs;
    @apply whitespace-no-wrap;
    @apply p-4;
}

tbody tr:hover {
    @apply bg-gray-100;
    @apply cursor-pointer;
}

h5 {
    @apply text-2xl;
    @apply font-normal;
    @apply leading-normal;
    @apply mt-0;
    @apply mb-2;
}

.otp-input {
    @apply arc-input !important;
}

.ng-select {
    @apply arc-input;
    @apply relative;
}

.ng-select .ng-has-value .ng-placeholder {
    display: none;
}

.ng-dropdown-panel {
    @apply arc-dropdown-panel;
    @apply mt-4;
    @apply -ml-3;
}

.ng-dropdown-panel-items {
    @apply arc-dropdown-panel-items;
}

.ng-option {
    @apply arc-dropdown-item;
}
.ng-option:hover {
    @apply bg-gray-100;
    @apply text-gray-900;
}

.ng-select-multiple .ng-value {
    @apply mr-2;
    @apply bg-blue-200;
    @apply rounded-md;
}

.ng-select-multiple .ng-value-label, .ng-select-multiple .ng-value-icon {
    @apply p-1;
}

.ng-placeholder {
    @apply text-gray-400;
}

.mat-table, .mat-paginator, .mat-form-field {
    font-family: inherit;
}
.mat-sort-header-button {
    @apply uppercase;
}
.mat-header-cell {
    @apply p-4;
}

.angular-editor-toolbar {
    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
}

.angular-editor-button {
    background-color: transparent !important;
    border-radius: 0.2rem;
}

.angular-editor-textarea {
    border: none !important;
    @apply arc-input;
}
.angular-editor-textarea:focus {
    @apply outline-none;
    @apply shadow-outline;
}

.ae-picker-options {
    @apply arc-dropdown-panel;
    @apply arc-dropdown-panel-items;
}

.ae-font .ae-picker-label {
    @apply arc-dropdown-button;
    line-height: inherit !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}

.ae-picker-label {
    border-radius: 0.2rem;
}

.ae-font .ae-picker-options .ae-picker-item {
    @apply arc-dropdown-panel-items;
}

.ae-font .ae-picker-options .ae-picker-item.focused,
.ae-font .ae-picker-options .ae-picker-item.selected,
.ae-font .ae-picker-options .ae-picker-item:hover,
.angular-editor-button:hover {
    @apply bg-gray-100 !important;
    @apply text-gray-900 !important;
}

.ngxImageZoomContainer {
    @apply w-auto !important;
    @apply h-auto !important;
}

.ngxImageZoomFullContainer.ngxImageZoomLensEnabled {
    @apply border-gray-700 !important;
    @apply border-2 !important;
}

.carousel-cells {
    width: unset !important;
}

.ng-sidebar{
    @apply z-20 !important;
    @apply shadow-xl;
}

.mat-form-field-wrapper {
    @apply pb-0 !important;
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    @apply bg-white !important;
    @apply arc-input;
    @apply rounded !important;
}

.ngx-timepicker {
    @apply border-b-0 !important;
    @apply arc-input;
    @apply px-0 !important;
}

@screen md {
    .ngx-timepicker {
        @apply py-0 !important;
    }
}