@import "starter.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.arc-transition {
    transition: all 0.15s ease 0s;
}

.arc-input {
    @apply px-3;
    @apply py-3;
    @apply text-gray-700;
    @apply bg-white;
    @apply rounded;
    @apply text-sm;
    @apply shadow;
    @apply arc-transition;
}

.arc-input:focus {
    @apply outline-none;
    @apply shadow-outline;
}

.arc-label {
    @apply block;
    @apply uppercase;
    @apply text-gray-700;
    @apply text-xs;
    @apply font-bold;
    @apply mb-2;
}

.arc-button {
    @apply inline-flex;
    @apply justify-center;
    @apply bg-gray-900;
    @apply text-white;
    @apply text-sm;
    @apply font-bold;
    @apply uppercase;
    @apply px-6;
    @apply py-3;
    @apply rounded;
    @apply shadow;
    @apply outline-none;
    @apply mr-1;
    @apply mb-1;
    @apply arc-transition;
}

.arc-link-button {
    @apply text-blue-500;
    @apply bg-transparent;
    @apply font-bold;
    @apply uppercase;
    @apply px-3;
    @apply py-1;
    @apply text-xs;
    @apply outline-none;
    @apply mr-1;
    @apply mb-1;
    @apply rounded-lg;
    @apply cursor-pointer;
    @apply arc-transition;
}

.arc-link-button:hover {
    @apply shadow-md;
}

.arc-link-button:focus {
    @apply outline-none;
}

.arc-checkbox {
    @apply text-gray-800;
    @apply ml-1;
    @apply w-5;
    @apply h-5;
    @apply arc-transition;
}

.arc-button:active {
    @apply bg-gray-700;
}

.arc-button:hover {
    @apply shadow-lg;
}

.arc-button:focus {
    @apply outline-none;
}

.border-red {
    @apply border;
    @apply border-red-500;
}

.ng-select {
    @apply arc-input;
}

.ng-dropdown-panel {
    @apply arc-input;
    @apply mt-4;
    @apply -ml-3;
}

input[type="radio"] + label span {
    transition: background .2s transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
  transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
  @apply bg-blue-500;
}

input[type="radio"]:checked + label{
    @apply text-blue-500;
}