@import "starter.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.arc-transition {
    transition: all 0.15s ease 0s;
}

.scrollbar {
	float: left;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #0ae;	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


.slider {
	overflow-y: hidden;
	max-height: 500px;
    box-sizing: border-box;

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.slider.closed {
	max-height: 0;
}

.sidebar-heading {
    @apply text-gray-600;
    @apply text-xs;
    @apply uppercase;
    @apply font-bold;
    @apply block;
    @apply pt-1;
    @apply no-underline;
    @apply cursor-pointer;
    @apply arc-transition;
}

@screen md {
    @apply min-w-full; 
}

.arc-input {
    @apply px-3;
    @apply py-3;
    @apply text-gray-700;
    @apply bg-white;
    @apply rounded;
    @apply text-sm;
    @apply shadow;
    @apply arc-transition;
}

.arc-input:focus {
    @apply outline-none;
    @apply shadow-outline;
}

.arc-label {
    @apply block;
    @apply uppercase;
    @apply text-gray-700;
    @apply text-xs;
    @apply font-bold;
    @apply mb-2;
}

.arc-button {
    @apply inline-flex;
    @apply justify-center;
    @apply bg-gray-900;
    @apply text-white;
    @apply text-sm;
    @apply font-bold;
    @apply uppercase;
    @apply px-6;
    @apply py-3;
    @apply rounded;
    @apply shadow;
    @apply outline-none;
    @apply mr-1;
    @apply mb-1;
    @apply arc-transition;
}

.arc-link-button {
    @apply text-blue-500;
    @apply bg-transparent;
    @apply font-bold;
    @apply uppercase;
    @apply px-3;
    @apply py-1;
    @apply text-xs;
    @apply outline-none;
    @apply mr-1;
    @apply mb-1;
    @apply rounded-lg;
    @apply cursor-pointer;
    @apply arc-transition;
}

.arc-link-button:hover {
    @apply shadow-md;
}

.arc-link-button:focus {
    @apply outline-none;
}

.arc-checkbox {
    @apply text-gray-800;
    @apply ml-1;
    @apply w-5;
    @apply h-5;
    @apply arc-transition;
}

.arc-button:active {
    @apply bg-gray-700;
}

.arc-button:hover {
    @apply shadow-lg;
}

.arc-button:focus {
    @apply outline-none;
}

.arc-button-regular {
    @apply bg-indigo-500;
    @apply text-white;
    @apply font-bold;
    @apply uppercase;
    @apply text-xs;
    @apply px-4;
    @apply py-2;
    @apply rounded;
    @apply shadow;
    @apply outline-none;
    @apply mr-1;
    @apply mb-1;
    @apply arc-transition;
}

.arc-button-regular:active {
    @apply bg-blue-600;
}

.arc-button-regular:hover {
    @apply shadow-md;
}

.arc-button-regular:focus {
    @apply outline-none;
}

.disabled {
    @apply cursor-not-allowed;
    @apply opacity-50;
}

.border-red {
    @apply border;
    @apply border-red-500;
}

.link-semibold {
    @apply text-sm;
    @apply block;
    @apply mb-4;
    @apply no-underline;
    @apply font-semibold;
    @apply cursor-pointer;
}

.link-bold {
    @apply text-xs;
    @apply uppercase;
    @apply py-3;
    @apply font-bold;
    @apply block;
    @apply cursor-pointer;
}

.ng-select {
    @apply arc-input;
}

.ng-dropdown-panel {
    @apply arc-input;
    @apply mt-4;
    @apply -ml-3;
}

input[type="radio"] + label span {
    transition: background .2s transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
  transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
  @apply bg-blue-500;
}

input[type="radio"]:checked + label{
    @apply text-blue-500;
}

table {
    @apply px-1;
    @apply items-center;
    @apply w-full;
    @apply bg-transparent;
    @apply border-collapse;
}

thead tr th {
    @apply px-6;
    @apply bg-gray-100;
    @apply text-gray-600;
    @apply align-middle;
    @apply border;
    @apply border-solid;
    @apply border-gray-200;
    @apply py-3;
    @apply text-xs;
    @apply uppercase;
    @apply border-l-0;
    @apply border-r-0;
    @apply whitespace-no-wrap;
    @apply font-semibold;
    @apply text-left;
}

tbody tr th {
    @apply border-t-0;
    @apply px-6;
    @apply align-middle;
    @apply border-l-0;
    @apply border-r-0;
    @apply text-xs;
    @apply whitespace-no-wrap;
    @apply p-4;
    @apply text-left;
}

tbody tr td {
    @apply border-t-0;
    @apply px-6;
    @apply align-middle;
    @apply border-l-0;
    @apply border-r-0;
    @apply text-xs;
    @apply whitespace-no-wrap;
    @apply p-4;
}

tbody tr:hover {
    @apply bg-gray-100;
    @apply cursor-pointer;
}

h5 {
    @apply text-2xl;
    @apply font-normal;
    @apply leading-normal;
    @apply mt-0;
    @apply mb-2;
}

.mat-table, .mat-paginator, .mat-form-field {
    font-family: inherit;
}
.mat-sort-header-button {
    @apply uppercase;
}
.mat-header-cell {
    @apply p-4;
}

.angular-editor-toolbar {
    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
}

.angular-editor-button {
    background-color: transparent !important;
    border-radius: 0.2rem;
}

.angular-editor-textarea, .ae-picker-options {
    border: none !important;
    @apply arc-input;
}


.ae-picker-label {
    border-radius: 0.2rem;
}

.ae-picker-item.focused, .ae-picker-item:hover {
    background-color: unset !important;
    color: unset;
    @apply bg-blue-100;
}